In [1]:
# Librerias y configuración

import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings('ignore')

In [2]:
# DataFrames

actor = pd.read_csv('../data_messy/actor.csv')
category = pd.read_csv('../data_messy/category.csv')
film = pd.read_csv('../data_messy/film.csv')
inventory = pd.read_csv('../data_messy/inventory.csv')
language = pd.read_csv('../data_messy/language.csv')
hdd = pd.read_csv('../data_messy/old_HDD.csv')
rental = pd.read_csv('../data_messy/rental.csv')

# Estructura deseada para la base de datos

<img src="../images/Estructura_database.png">

## film - hdd - actor - category

Film asume los valores de category para sí y se conecta a actor mediante hdd. f

In [3]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

In [4]:
# Se borran las columnas que no se quieren

film.drop('original_language_id', axis = 1, inplace=True)
film.drop('last_update', axis = 1, inplace=True)

In [5]:
# Se une la columna category y se conecta con actor a través de hdd

hdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [6]:
hdd['name'] = hdd.first_name + ' ' + hdd.last_name

hdd.drop(['release_year', 'first_name', 'last_name'], axis = 1, inplace=True)

In [7]:
hdd.rename(columns={'name': 'actor'}, inplace=True)

In [8]:
category.drop('last_update', axis = 1, inplace=True) 

hdd = pd.merge(hdd, category, on='category_id')

film = pd.merge(film, hdd, on='title', how='left')

film.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1386 entries, 0 to 1385
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1386 non-null   int64
 1   title             1386 non-null   object
 2   description       1386 non-null   object
 3   release_year      1386 non-null   int64
 4   language_id       1386 non-null   int64
 5   rental_duration   1386 non-null   int64
 6   rental_rate       1386 non-null   float64
 7   length            1386 non-null   int64
 8   replacement_cost  1386 non-null   float64
 9   rating            1386 non-null   object
 10  special_features  1386 non-null   object
 11  category_id       1000 non-null   float64
 12  actor             1000 non-null   object
 13  name              1000 non-null   object
dtypes: float64(3), int64(5), object(6)
memory usage: 162.4+ KB

In [9]:
hdd = pd.merge(hdd, film[['category_id', 'film_id']], on='category_id')    # Para posteriormente poder hacer la conexión con actor

film.drop(['category_id', 'actor'], axis = 1, inplace=True) 

film.rename(columns={'name': 'category', 'replacement_cost': 'cost'}, inplace=True)

film.drop_duplicates(inplace=True)

film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,cost,rating,special_features,category
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",Documentary
4,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",Horror
5,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",Documentary
8,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",NaN
9,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,NaN

In [10]:
hdd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64638 entries, 0 to 64637
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        64638 non-null  object
 1   category_id  64638 non-null  int64
 2   actor        64638 non-null  object
 3   name         64638 non-null  object
 4   film_id      64638 non-null  int64
dtypes: int64(2), object(3)
memory usage: 3.0+ MB

In [11]:
hdd.drop(['title', 'category_id', 'name'], axis = 1, inplace=True) 

hdd.head()

              actor  film_id
0  PENELOPE GUINESS        1
1  PENELOPE GUINESS        1
2  PENELOPE GUINESS        1
3  PENELOPE GUINESS        1
4  PENELOPE GUINESS        3

In [12]:
# Ahora se cambia actor por el actor_id

In [13]:
actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [14]:
actor['actor'] = actor.first_name + ' ' + actor.last_name

actor.drop(['first_name', 'last_name', 'last_update'], axis = 1, inplace=True) 

hdd = pd.merge(hdd, actor, on='actor')

hdd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64638 entries, 0 to 64637
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   actor     64638 non-null  object
 1   film_id   64638 non-null  int64
 2   actor_id  64638 non-null  int64
dtypes: int64(2), object(1)
memory usage: 2.0+ MB

In [15]:
hdd.drop(['actor'], axis = 1, inplace=True)

actor.rename(columns={'actor': 'name'}, inplace=True)

In [16]:
actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   actor_id  200 non-null    int64
 1   name      200 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.2+ KB

In [17]:
# se guardan los csv limpios

film.to_csv('../data/film.csv', index=False)
actor.to_csv('../data/actor.csv', index=False)
hdd.to_csv('../data/film_to_actor.csv', index=False)

## language

Da los valores a film.

In [18]:
language.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [19]:
language.drop('last_update', axis=1, inplace=True)

In [20]:
language.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [21]:
# se guarda el csv limpios

language.to_csv('../data/language.csv', index=False)

## Inventory - Rental

Rental se queda vacio, pues el nuevo videoclub aun no ha abierto. Inventory se conecta por un lado a films y por otro a rental, dado que lo que se rentan son los dvds como objeto físico.

In [22]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [23]:
inventory.drop(['store_id','last_update'], axis=1, inplace=True)

In [24]:
# se guardan los csv limpios

inventory.to_csv('../data/inventory.csv', index=False)