In [11]:
# Librerias y configuraci√≥n

import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings('ignore')

In [7]:
# DataFrames

actor = pd.read_csv('../data/actor.csv')
category = pd.read_csv('../data/category.csv')
film = pd.read_csv('../data/film.csv')
inventory = pd.read_csv('../data/inventory.csv')
language = pd.read_csv('../data/language.csv')
hdd = pd.read_csv('../data/old_HDD.csv')
rental = pd.read_csv('../data/rental.csv')

# actor

In [8]:
actor.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [9]:
actor.shape

(200, 4)

In [10]:
actor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [12]:
actor.actor_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200])

In [13]:
actor.first_name.unique()

array(['PENELOPE', 'NICK', 'ED', 'JENNIFER', 'JOHNNY', 'BETTE', 'GRACE',
       'MATTHEW', 'JOE', 'CHRISTIAN', 'ZERO', 'KARL', 'UMA', 'VIVIEN',
       'CUBA', 'FRED', 'HELEN', 'DAN', 'BOB', 'LUCILLE', 'KIRSTEN',
       'ELVIS', 'SANDRA', 'CAMERON', 'KEVIN', 'RIP', 'JULIA', 'WOODY',
       'ALEC', 'SISSY', 'TIM', 'MILLA', 'AUDREY', 'JUDY', 'BURT', 'VAL',
       'TOM', 'GOLDIE', 'JODIE', 'KIRK', 'REESE', 'PARKER', 'FRANCES',
       'ANNE', 'NATALIE', 'GARY', 'CARMEN', 'MENA', 'FAY', 'JUDE',
       'DUSTIN', 'HENRY', 'JAYNE', 'RAY', 'ANGELA', 'MARY', 'JESSICA',
       'KENNETH', 'MICHELLE', 'ADAM', 'SEAN', 'ANGELINA', 'CARY',
       'GROUCHO', 'MAE', 'RALPH', 'SCARLETT', 'BEN', 'JAMES', 'MINNIE',
       'GREG', 'SPENCER', 'CHARLIZE', 'CHRISTOPHER', 'ELLEN', 'DARYL',
       'GENE', 'MEG', 'CHRIS', 'JIM', 'SUSAN', 'WALTER', 'SIDNEY', 'GINA',
       'WARREN', 'SYLVESTER', 'RUSSELL', 'MORGAN', 'HARRISON', 'RENEE',
       'LIZA', 'SALMA', 'JULIANNE', 'ALBERT', 'CATE', 'GRETA', 'JANE',
       'RICHARD', 'RITA', 'EWAN', 'WHOOPI', 'JADA', 'RIVER', 'KIM',
       'EMILY', 'GEOFFREY', 'MERYL', 'IAN', 'LAURA', 'HARVEY', 'OPRAH',
       'HUMPHREY', 'AL', 'LAURENCE', 'WILL', 'OLYMPIA', 'ALAN', 'MICHAEL',
       'WILLIAM', 'JON', 'LISA', 'JEFF', 'DEBBIE', 'ROCK', 'GREGORY',
       'JOHN', 'BELA', 'THORA'], dtype=object)

In [14]:
actor.last_name.unique()

array(['GUINESS', 'WAHLBERG', 'CHASE', 'DAVIS', 'LOLLOBRIGIDA',
       'NICHOLSON', 'MOSTEL', 'JOHANSSON', 'SWANK', 'GABLE', 'CAGE',
       'BERRY', 'WOOD', 'BERGEN', 'OLIVIER', 'COSTNER', 'VOIGHT', 'TORN',
       'FAWCETT', 'TRACY', 'PALTROW', 'MARX', 'KILMER', 'STREEP', 'BLOOM',
       'CRAWFORD', 'MCQUEEN', 'HOFFMAN', 'WAYNE', 'PECK', 'SOBIESKI',
       'HACKMAN', 'DEAN', 'DUKAKIS', 'BOLGER', 'MCKELLEN', 'BRODY',
       'DEGENERES', 'MIRANDA', 'JOVOVICH', 'STALLONE', 'GOLDBERG',
       'BARRYMORE', 'DAY-LEWIS', 'CRONYN', 'HOPKINS', 'PHOENIX', 'HUNT',
       'TEMPLE', 'PINKETT', 'HARRIS', 'CRUISE', 'AKROYD', 'TAUTOU',
       'NEESON', 'WRAY', 'HUDSON', 'TANDY', 'BAILEY', 'WINSLET',
       'MCCONAUGHEY', 'GRANT', 'WILLIAMS', 'PENN', 'KEITEL', 'POSEY',
       'ASTAIRE', 'SINATRA', 'CRUZ', 'DAMON', 'JOLIE', 'WILLIS', 'PITT',
       'ZELLWEGER', 'CHAPLIN', 'PESCI', 'DENCH', 'PRESLEY', 'HAWKE',
       'BRIDGES', 'DEPP', 'LEIGH', 'CROWE', 'DUNST', 'NOLTE', 'DERN',
       'BACALL', 'MCDORMAND', 'BALE', 'ALLEN', 'JACKMAN', 'MONROE',
       'BERGMAN', 'BENING', 'TOMEI', 'GARLAND', 'HOPPER', 'REYNOLDS',
       'MANSFIELD', 'DEE', 'GOODING', 'HURT', 'RYDER', 'WITHERSPOON',
       'HESTON', 'GIBSON', 'MALDEN', 'BASINGER', 'HOPE', 'WEST',
       'BULLOCK', 'WILSON', 'PFEIFFER', 'DREYFUSS', 'SILVERSTONE',
       'CARREY', 'CLOSE', 'BALL', 'BIRCH', 'SUVARI', 'WALKEN'],
      dtype=object)

In [17]:
actor.last_update.unique()

array(['2006-02-15 04:34:33'], dtype=object)

In [22]:
# Se borra la columna last_update por que no otorga ninguna informaci√≥n relevante

actor.drop('last_update', axis = 1, inplace=True)

In [24]:
actor.head()

   actor_id first_name     last_name
0         1   PENELOPE       GUINESS
1         2       NICK      WAHLBERG
2         3         ED         CHASE
3         4   JENNIFER         DAVIS
4         5     JOHNNY  LOLLOBRIGIDA

In [42]:
actor.to_csv('../data/actor.csv')

# category

In [30]:
category.head()

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [32]:
category.shape

(16, 3)

In [34]:
category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

In [31]:
category.category_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [35]:
category.name.unique()

array(['Action', 'Animation', 'Children', 'Classics', 'Comedy',
       'Documentary', 'Drama', 'Family', 'Foreign', 'Games', 'Horror',
       'Music', 'New', 'Sci-Fi', 'Sports', 'Travel'], dtype=object)

In [36]:
category.last_update.unique()

array(['2006-02-15 04:46:27'], dtype=object)

In [37]:
# Se borra la columna last_update por que no otorga ninguna informaci√≥n relevante

category.drop('last_update', axis = 1, inplace=True)

In [38]:
category.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

In [43]:
category.to_csv('../data/category.csv')

# film

In [39]:
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [40]:
film.shape

(1000, 13)

In [44]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

In [ ]:
# Se borra la columna original_language_id por ser 100% nula

film.drop('original_language_id', axis = 1, inplace=True)

In [46]:
film.film_id.unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000])

In [50]:
#¬†film.title.unique() Se comenta puesto que ocupan mucho lugar en la pantalla, est√°n limpios

In [52]:
# film.description.unique() Se comenta puesto que ocupan mucho lugar en la pantalla, est√°n limpios

In [54]:
film.release_year.unique()

array([2006])

In [57]:
film.language_id .unique()

array([1])

In [59]:
film.rental_duration.unique()   # Se entiende que son d√≠as

array([6, 3, 7, 5, 4])

In [60]:
film.rental_rate.unique()

array([0.99, 4.99, 2.99])

In [61]:
film.length.unique()

array([ 86,  48,  50, 117, 130, 169,  62,  54, 114,  63, 126, 136, 150,
        94,  46, 180,  82,  57, 113,  79, 129,  85,  92, 181,  74, 179,
        91, 168, 119, 153, 147, 127, 121,  68,  99, 148, 137, 170,  83,
       108, 118, 162, 182,  75, 173,  87,  65,  90, 122, 160,  89, 175,
       106,  73, 151, 100,  53,  77, 142,  93, 163, 103,  61,  71, 102,
        76,  98,  72, 176, 123,  56, 161,  60, 133, 125,  67,  52, 120,
       167,  70, 135, 112, 183, 110, 152,  51, 146,  66, 185, 124, 107,
       101, 132, 143, 165,  81, 164,  58,  95, 139,  55, 149, 109,  59,
       172, 115, 184, 166,  64, 104,  69,  84, 144,  88, 141,  47,  49,
       177, 154, 159, 178,  96, 116, 171, 140, 155, 158, 174, 138,  97,
       131, 156,  80, 145, 111, 128, 157,  78, 105, 134])

In [62]:
film.replacement_cost.unique()

array([20.99, 12.99, 18.99, 26.99, 22.99, 17.99, 28.99, 15.99, 21.99,
       24.99, 16.99, 23.99, 10.99, 14.99, 27.99,  9.99, 19.99, 11.99,
       29.99, 25.99, 13.99])

In [65]:
film.rating.unique()

array(['PG', 'G', 'NC-17', 'PG-13', 'R'], dtype=object)

In [66]:
film.special_features.unique()

array(['Deleted Scenes,Behind the Scenes', 'Trailers,Deleted Scenes',
       'Commentaries,Behind the Scenes', 'Deleted Scenes', 'Trailers',
       'Commentaries,Deleted Scenes',
       'Trailers,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Behind the Scenes', 'Trailers,Commentaries',
       'Trailers,Behind the Scenes',
       'Commentaries,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Deleted Scenes',
       'Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
       'Behind the Scenes', 'Commentaries'], dtype=object)

In [67]:
film.special_features = film.special_features.str.replace(',', ', ')   # Para que quede m√°s visualmente atractivo

In [68]:
film.special_features.unique()

array(['Deleted Scenes, Behind the Scenes', 'Trailers, Deleted Scenes',
       'Commentaries, Behind the Scenes', 'Deleted Scenes', 'Trailers',
       'Commentaries, Deleted Scenes',
       'Trailers, Deleted Scenes, Behind the Scenes',
       'Trailers, Commentaries, Behind the Scenes',
       'Trailers, Commentaries', 'Trailers, Behind the Scenes',
       'Commentaries, Deleted Scenes, Behind the Scenes',
       'Trailers, Commentaries, Deleted Scenes',
       'Trailers, Commentaries, Deleted Scenes, Behind the Scenes',
       'Behind the Scenes', 'Commentaries'], dtype=object)

In [69]:
film.last_update.unique()

array(['2006-02-15 05:03:42'], dtype=object)

In [70]:
# Se borra la columna last_update por que no otorga ninguna informaci√≥n relevante

film.drop('last_update', axis = 1, inplace=True)

In [72]:
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes, Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers, Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers, Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries, Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes

In [79]:
film.to_csv('../data/film.csv')

# inventory

In [73]:
inventory.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

In [74]:
inventory.shape

(1000, 4)

In [78]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [80]:
inventory.inventory_id.unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000])

In [81]:
inventory.film_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  34,  35,  37,  39,  40,  42,  43,  44,
        45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,
        58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
        71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
        84,  85,  86,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
        98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 109, 110, 111,
       112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124,
       125, 126, 127, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 145, 146, 147, 149, 150, 151, 152, 153,
       154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 172, 173, 174, 175, 176, 177, 178, 179, 180,
       181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 193, 194,
       196, 197, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
       210, 211, 212, 213, 214, 215, 216, 218, 219, 220, 222, 223])

In [82]:
inventory.store_id.unique()

array([1, 2])

In [83]:
inventory.last_update.unique()

array(['2006-02-15 05:09:17'], dtype=object)

In [84]:
# Se borra la columna last_update por que no otorga ninguna informaci√≥n relevante

inventory.drop('last_update', axis = 1, inplace=True)

In [85]:
inventory.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

In [86]:
inventory.to_csv('../data/inventory.csv')

# language

In [90]:
language

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [88]:
language.shape

(6, 3)

In [89]:
language.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [91]:
# Se borra la columna last_update por que no otorga ninguna informaci√≥n relevante

language.drop('last_update', axis = 1, inplace=True)

In [92]:
language.head()

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French

In [93]:
language.to_csv('../data/language.csv')

# old_HDD

In [94]:
hdd.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [97]:
hdd.shape

(1000, 5)

In [98]:
hdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [100]:
hdd.first_name.unique()

array(['PENELOPE', 'NICK', 'ED', 'JENNIFER', 'JOHNNY', 'BETTE', 'GRACE',
       'MATTHEW', 'JOE', 'CHRISTIAN', 'ZERO', 'KARL', 'UMA', 'VIVIEN',
       'CUBA', 'FRED', 'HELEN', 'DAN', 'BOB', 'LUCILLE', 'KIRSTEN',
       'ELVIS', 'SANDRA', 'CAMERON', 'KEVIN', 'RIP', 'JULIA', 'WOODY',
       'ALEC', 'SISSY', 'TIM', 'MILLA', 'AUDREY', 'JUDY', 'BURT', 'VAL',
       'TOM', 'GOLDIE'], dtype=object)

In [101]:
hdd.last_name.unique()

array(['GUINESS', 'WAHLBERG', 'CHASE', 'DAVIS', 'LOLLOBRIGIDA',
       'NICHOLSON', 'MOSTEL', 'JOHANSSON', 'SWANK', 'GABLE', 'CAGE',
       'BERRY', 'WOOD', 'BERGEN', 'OLIVIER', 'COSTNER', 'VOIGHT', 'TORN',
       'FAWCETT', 'TRACY', 'PALTROW', 'MARX', 'KILMER', 'STREEP', 'BLOOM',
       'CRAWFORD', 'MCQUEEN', 'HOFFMAN', 'WAYNE', 'PECK', 'SOBIESKI',
       'HACKMAN', 'DEAN', 'DUKAKIS', 'BOLGER', 'MCKELLEN', 'BRODY'],
      dtype=object)

In [103]:
# hdd.title.unique() Se comenta puesto que ocupan mucho lugar en la pantalla, est√°n limpios

In [107]:
# Hay que cambiar hdd.title por los id de las pel√≠culas

hdd.loc[hdd.title == film.title, 'title'] = film.loc[hdd.title == film.title, 'film_id']

In [108]:
hdd.title.unique()

array([1, 'ANACONDA CONFESSIONS', 'ANGELS LIFE', 'BULWORTH COMMANDMENTS',
       'CHEAPER CLYDE', 'COLOR PHILADELPHIA', 'ELEPHANT TROJAN',
       'GLEAMING JAWBREAKER', 'HUMAN GRAFFITI', 'KING EVOLUTION',
       'LADY STAGE', 'LANGUAGE COWBOY', 'MULHOLLAND BEAST',
       'OKLAHOMA JUMANJI', 'RULES HUMAN', 'SPLASH GUMP',
       'VERTIGO NORTHWEST', 'WESTWARD SEABISCUIT', 'WIZARD COLDBLOODED',
       'ADAPTATION HOLES', 'APACHE DIVINE', 'BABY HALL', 'BULL SHAWSHANK',
       'CHAINSAW UPTOWN', 'CHISUM BEHAVIOR', 'DESTINY SATURDAY',
       'DRACULA CRYSTAL', 'FIGHT JAWBREAKER', 'FLASH WARS',
       'GILBERT PELICAN', 'GOODFELLAS SALUTE', 'HAPPINESS UNITED',
       'INDIAN LOVE', 'JEKYLL FROGMEN', 'JERSEY SASSY', 'LIAISONS SWEET',
       'LUCKY FLYING', 'MAGUIRE APACHE', 'MALLRATS UNITED', 'MASK PEACH',
       'ROOF CHAMPION', 'RUSHMORE MERMAID', 'SMILE EARRING',
       'WARDROBE PHANTOM', 'ALONE TRIP', 'ARMY FLINTSTONES',
       'ARTIST COLDBLOODED', 'BOONDOCK BALLROOM', 'CADDYSHACK JEDI',
       'COWBOY DOOM', 'EVE RESURRECTION', 'FORREST SONS',
       'FRENCH HOLIDAY', 'FROST HEAD', 'HALLOWEEN NUTS', 'HUNTER ALTER',
       'IMAGE PRINCESS', 'JEEPERS WEDDING', 'LUCK OPUS',
       'NECKLACE OUTBREAK', 'PLATOON INSTINCT', 'SPICE SORORITY',
       'WEDDING APOLLO', 'WEEKEND PERSONAL', 'WHALE BIKINI',
       'YOUNG LANGUAGE', 'BAREFOOT MANCHURIAN', 'BED HIGHBALL',
       'BLADE POLISH', 'GHOSTBUSTERS ELF', 'GREEDY ROOTS',
       'HANOVER GALAXY', 'INSTINCT AIRPORT', 'JUMANJI BLADE',
       'NATIONAL STORY', 'POSEIDON FOREVER', 'RAIDERS ANTITRUST',
       'RANDOM GO', 'REDS POCUS', 'SILVERADO GOLDFINGER', 'SUBMARINE BED',
       'TREASURE COMMAND', 'UNFORGIVEN ZOOLANDER', 'AMADEUS HOLY',
       'BANGER PINOCCHIO', 'BONNIE HOLOCAUST', 'CHITTY LOCK',
       'COMMANDMENTS EXPRESS', 'CONEHEADS SMOOCHY', 'DADDY PITTSBURGH',
       'DAISY MENAGERIE', 'ENOUGH RAGING', 'ESCAPE METROPOLIS',
       'FIRE WOLVES', 'FRONTIER CABIN', 'GRAIL FRANKENSTEIN',
       'GROOVE FICTION', 'HALL CASSIDY', 'HEAVENLY GUN',
       'KRAMER CHOCOLATE', 'LOVE SUICIDES', 'METAL ARMAGEDDON',
       'PACIFIC AMISTAD', 'PATTON INTERVIEW', 'POCUS PULP',
       'RIDGEMONT SUBMARINE', 'RINGS HEARTBREAKERS', 'SOLDIERS EVOLUTION',
       'STAR OPERATION', 'SUNRISE LEAGUE', 'ANTITRUST TOMATOES',
       'BANG KWAI', 'BEAST HUNCHBACK', 'BIKINI BORROWERS',
       'CALENDAR GUNFIGHT', 'COAST RAINBOW', 'COLDBLOODED DARLING',
       'CROSSROADS CASUALTIES', 'DROP WATERFRONT', 'IGBY MAKER',
       'LESSON CLEOPATRA', 'LIBERTY MAGNIFICENT', 'POTLUCK MIXED',
       'SPEED SUIT', 'TITANIC BOONDOCK', 'TRADING PINOCCHIO',
       'WYOMING STORM', 'ANONYMOUS HUMAN', 'ARACHNOPHOBIA ROLLERCOASTER',
       'BERETS AGENT', 'BREAKING HOME', 'COMMAND DARLING',
       'CONFESSIONS MAGUIRE', 'DAZED PUNK', 'DECEIVER BETRAYED',
       'DESTINATION JERK', 'EXCITEMENT EVE', 'GASLIGHT CRUSADE',
       'HELLFIGHTERS SIERRA', 'MALKOVICH PET', 'OCTOBER SUBMARINE',
       'OPEN AFRICAN', 'SAINTS BRIDE', 'SAVANNAH TOWN',
       'SCISSORHANDS SLUMS', 'SLEEPLESS MONSOON', 'SLEEPY JAPANESE',
       'STING PERSONAL', 'TOWN ARK', 'TRACY CIDER', 'TREATMENT JEKYLL',
       'WAR NOTTING', 'WARLOCK WEREWOLF', 'CAMPUS REMEMBER',
       'CLONES PINOCCHIO', 'CONQUERER NUTS', 'CROWDS TELEMARK',
       'DANCES NONE', 'DRIVING POLISH', 'DURHAM PANKY', 'HANGING DEEP',
       'LIGHTS DEER', 'LOSER HUSTLER', 'RUNNER MADIGAN', 'SCHOOL JACKET',
       'SCORPION APOLLO', 'SUGAR WONKA', 'TOMORROW HUSTLER',
       'VANISHING ROCKY', 'ANYTHING SAVANNAH', 'BIRCH ANTITRUST',
       'CHOCOLAT HARRY', 'CHOCOLATE DUCK', 'CROOKED FROGMEN',
       'CURTAIN VIDEOTAPE', 'DALMATIONS SWEDEN', 'HORROR REIGN',
       'LAWLESS VISION', 'LEBOWSKI SOLDIERS', 'MAJESTIC FLOATS',
       'PERDITION FARGO', 'PRIMARY GLASS', 'REEF SALUTE',
       'SNATCHERS MONTEZUMA', 'SWEETHEARTS SUSPECTS', 'TIES HUNGER',
       'TRAFFIC HOBBIT', 'UNTOUCHABLES SUNRISE', 'WATERFRONT DELIVERANCE',
       'WILD APOLLO', 'ACADEMY DINOSAUR', 'ALABAMA DEVIL',
       'DIVINE RESURRECTION', 'DRAGONFLY STRANGERS',
       'GOLDFINGER SENSIBILITY', 'JAWBREAKER BROOKLYN', 'LIFE TWISTED',
       'LORD ARIZONA', 'MOD SECRETARY', 'PREJUDICE OLEANDER',
       'PUNK DIVORCE', 'REAP UNFAITHFUL', 'SHAKESPEARE SADDLE',
       'TROUBLE DATE', 'USUAL UNTOUCHABLES', 'VACATION BOONDOCK',
       'WON DARES', 'CANYON STOCK', 'ENCINO ELF', 'ENDING CROWDS',
       'GANDHI KWAI', 'GODFATHER DIARY', 'HANDICAP BOONDOCK',
       'HONEY TIES', 'HORN WORKING', 'MEET CHOCOLATE', 'MOONWALKER FOOL',
       'OLEANDER CLUE', 'RACER EGG', 'STORY SIDE', 'STRANGERS GRAFFITI',
       'THIN SAGEBRUSH', 'TOOTSIE PILOT', 'UPTOWN YOUNG',
       'VELVET TERMINATOR', 'WEST LION', 'WORKER TARZAN',
       'ALLEY EVOLUTION', 'ARABIA DOGMA', 'ARIZONA BANG', 'BOUND CHEAPER',
       'BOWFINGER GABLES', 'BUNCH MINDS', 'CLEOPATRA DEVIL',
       'CONNECTICUT TRAMP', 'DARES PLUTO', 'DATE SPEED', 'DAY UNFAITHFUL',
       'DOORS PRESIDENT', 'FURY MURDER', 'HARDLY ROBBERS',
       'HIGHBALL POTTER', 'HOLES BRANNIGAN', 'INDEPENDENCE HOTEL',
       'LEATHERNECKS DWARFS', 'MONTEREY LABYRINTH', 'NOVOCAINE FLIGHT',
       'PERFECT GROOVE', 'REUNION WITCHES', 'SMOKING BARBARELLA',
       'STAGECOACH ARMAGEDDON', 'SWEDEN SHINING',
       'TELEMARK HEARTBREAKERS', 'VIRGINIAN PLUTO', 'ATTRACTION NEWTON',
       'CABIN FLASH', 'CHINATOWN GLADIATOR', 'CLASH FREDDY',
       'CLUELESS BUCKET', 'DRIVER ANNIE', 'FRIDA SLIPPER',
       'GALAXY SWEETHEARTS', 'GRINCH MASSAGE', 'GROUNDHOG UNCUT',
       'HOMEWARD CIDER', 'INCH JET', 'LEGALLY SECRETARY', 'LION UNCUT',
       'LOLITA WORLD', 'MODEL FISH', 'MOTIONS DETAILS', 'REBEL AIRPORT',
       'RIDER CADDYSHACK', 'SNOWMAN ROLLERCOASTER', 'SPLENDOR PATTON',
       'STEEL SANTA', 'TORQUE BOUND', 'ZHIVAGO CORE', 'CRANES RESERVOIR',
       'DIRTY ACE', 'DONNIE ALLEY', 'DRIFTER COMMANDMENTS',
       'DRUMS DYNAMITE', 'ENEMY ODDS', 'GORGEOUS BINGO', 'HIGH ENCINO',
       'HILLS NEIGHBORS', 'HOBBIT ALIEN', 'IMPACT ALADDIN',
       'ITALIAN AFRICAN', 'JAPANESE RUN', 'KENTUCKIAN GIANT',
       'LOVELY JINGLE', 'LOVER TRUMAN', 'MUSSOLINI SPOILERS',
       'POLISH BROOKLYN', 'SALUTE APOLLO', 'SATURDAY LAMBS',
       'STOCK GLASS', 'STREETCAR INTENTIONS', 'TIGHTS DAWN', 'TRAP GUYS',
       'TYCOON GATHERING', 'VOICE PEACH', 'BORROWERS BEDAZZLED',
       'BUTCH PANTHER', 'CASSIDY WYOMING', 'EGYPT TENENBAUMS',
       'EMPIRE MALKOVICH', 'FLYING HOOK', 'FUGITIVE MAGUIRE',
       'HYDE DOCTOR', 'KISS GLORY', 'KNOCK WARLOCK', 'LUKE MUMMY',
       'MAKER GABLES', 'MONTEZUMA COMMAND', 'NOON PAPI', 'ROSES TREASURE',
       'SHANE DARKNESS', 'SIEGE MADRE', 'THEORY MERMAID', 'VOLCANO TEXAS',
       'WEREWOLF LOLA', 'WONDERLAND CHRISTMAS', 'BLANKET BEVERLY',
       'BROTHERHOOD BLANKET', 'CAROL TEXAS', 'DELIVERANCE MULHOLLAND',
       'EAGLES PANKY', 'EARRING INSTINCT', 'EASY GLADIATOR',
       'ENTRAPMENT SATISFACTION', 'GABLES METROPOLIS',
       'IMPOSSIBLE PREJUDICE', 'MAGNIFICENT CHITTY', 'MIRACLE VIRTUAL',
       'MISSION ZOOLANDER', 'REAR TRADING', 'SENSE GREEK',
       'CAPER MOTIONS', 'CASPER DRAGONFLY', 'CAT CONEHEADS',
       'CUPBOARD SINNERS', 'CYCLONE FAMILY', 'FEVER EMPIRE',
       'FIDELITY DEVIL', 'GREATEST NORTH', 'IRON MOON', 'JAWS HARRY',
       'LIES TREATMENT', 'MICROCOSMOS PARADISE', 'MOVIE SHAKESPEARE',
       'MUMMY CREATURES', 'ROAD ROXANNE', 'SIDE ARK', 'SINNERS ATLANTIS',
       'STRANGER STRANGERS', 'TADPOLE PARK', 'ATTACKS HATE',
       'BOILED DARES', 'EARLY HOME', 'ELIZABETH SHANE', 'GUMP DATE',
       'INNOCENT USUAL', 'INSIDER ARIZONA', 'JERK PAYCHECK', 'SLING LUKE',
       'STATE WASTELAND', 'SUN CONFESSIONS', 'TEQUILA PAST',
       'TUXEDO MILE', 'VIRGIN DAISY', 'ACE GOLDFINGER', 'CIRCUS YOUTH',
       'CONTROL ANTHEM', 'DARN FORRESTER', 'DYNAMITE TARZAN',
       'HATE HANDICAP', 'HOMICIDE PEACH', 'JACKET FRISCO', 'OSCAR GOLD',
       'PELICAN COMFORTS', 'PERSONAL LADYBUGS', 'RAGING AIRPLANE',
       'RUN PACIFIC', 'SADDLE ANTITRUST', 'SHAWSHANK BUBBLE', 'TAXI KICK',
       'BEDAZZLED MARRIED', 'DINOSAUR SECRETARY', 'EGG IGBY',
       'JUNGLE CLOSER', 'LOLA AGENT', 'LOSE INCH', 'LOVERBOY ATTACKS',
       'MODERN DORADO', 'ORIENT CLOSER', 'PAJAMA JAWBREAKER',
       'PATIENT SISTER', 'SAGEBRUSH CLUELESS', 'SHANGHAI TYCOON',
       'WASTELAND DIVINE', 'WINDOW SIDE', 'AGENT TRUMAN', 'BORN SPINAL',
       'CHICKEN HELLFIGHTERS', 'CLOSER BANG', 'HOME PITY',
       'KILL BROTHERHOOD', 'LADYBUGS ARMAGEDDON', 'PINOCCHIO SIMON',
       'PLUTO OLEANDER', 'PRIX UNDEFEATED', 'PULP BEVERLY',
       'RIVER OUTLAW', 'SLEEPING SUSPECTS', 'THIEF PELICAN',
       'TITANS JERK', 'UNBREAKABLE KARATE', 'EVOLUTION ALTER',
       'EXPECATIONS NATURAL', 'GANGS PRIDE', 'HOOK CHARIOTS',
       'JERICHO MULAN', 'JUMPING WRATH', 'ODDS BOOGIE', 'OUTLAW HANKY',
       'RIGHT CRANES', 'SEATTLE EXPECATIONS', 'SKY MIRACLE',
       'TROJAN TOMORROW', 'BLACKOUT PRIVATE', 'CANDIDATE PERDITION',
       'CANDLES GRAPES', 'DIVIDE MONSTER', 'GOLDMINE TYCOON',
       'HOCUS FRIDA', 'HOTEL HAPPINESS', 'IDENTITY LOVER',
       'MAGNOLIA FORRESTER', 'OZ LIAISONS', 'SONS INTERVIEW',
       'STREAK RIDGEMONT', 'VANISHED GARDEN', 'WOLVES DESIRE',
       'YOUTH KICK', 'BLUES INSTINCT', 'CASUALTIES ENCINO',
       'CONNECTION MICROCOSMOS', 'CROW GREASE', 'DOOM DANCING',
       'FREEDOM CLEOPATRA', 'HAUNTED ANTITRUST', 'MOB DUFFEL',
       'PANIC CLUB', 'PURE RUNNER', 'SEVEN SWARM', 'SPINAL ROCKY',
       'AMERICAN CIRCUS', 'BOOGIE AMELIE', 'CITIZEN SHREK',
       'DOUBLE WRATH', 'FICTION CHRISTMAS', 'MASSAGE IMAGE',
       'SABRINA MIDNIGHT', 'BOULEVARD MOB', 'BRANNIGAN SUNRISE',
       'BUCKET BROTHERHOOD', 'CRAFT OUTFIELD', 'FOOL MOCKINGBIRD',
       'GUYS FALCON', 'LONELY ELEPHANT', 'MADISON TRAP',
       'PITTSBURGH HUNCHBACK', 'RANGE MOONWALKER', 'SORORITY QUEEN',
       'TEXAS WATCH', 'TRAIN BUNCH', 'TRAMP OTHERS', 'CIDER DESIRE',
       'EFFECT GLADIATOR', 'FREDDY STORM', 'GAMES BOWFINGER',
       'GLADIATOR WESTWARD', 'MOCKINGBIRD HOLLYWOOD', 'PILOT HOOSIERS',
       'PRESIDENT BANG', 'SPIRIT FLINTSTONES', 'WONKA SEA',
       'ALICE FANTASIA', 'ATLANTIS CAUSE', 'BEACH HEARTBREAKERS',
       'DUCK RACER', 'GILMORE BOILED', 'LAMBS CINCINATTI', 'MAIDEN HOME',
       'MIDNIGHT WESTWARD', 'NEIGHBORS CHARADE', 'NONE SPIKING',
       'ROOM ROMAN', 'SHOOTIST SUPERFLY', 'SHRUNK DIVINE', 'SPY MILE',
       'TELEGRAPH VOYAGE', 'WAIT CIDER', 'WIFE TURN', 'ALADDIN CALENDAR',
       'CENTER DINOSAUR', 'CHAMBER ITALIAN', 'ENCOUNTERS CURTAIN',
       'EXPRESS LONELY', 'HOURS RAGE', 'HUSTLER PARTY', 'JEOPARDY ENCINO',
       'JOON NORTHWEST', 'MAGIC MALLRATS', 'MONEY HAROLD',
       'OUTBREAK DIVINE', 'REIGN GENTLEMEN', 'SUMMER SCARFACE',
       'BEETHOVEN EXORCIST', 'BEVERLY OUTLAW', 'BIRDS PERDITION',
       'DUDE BLINDNESS', 'DUMBO LUST', 'FAMILY SWEET',
       'FIREHOUSE VIETNAM', 'MATRIX SNOWMAN', 797, 'CLYDE THEORY',
       'CRAZY HOME', 'FACTORY DRAGON', 'FERRIS MOTHER', 'GONE TROUBLE',
       'GREEK EVERYONE', 'HOOSIERS BIRDCAGE', 'ROCKY WAR',
       'WISDOM WORKER', 'BEHAVIOR RUNAWAY', 'CHAPLIN LICENSE',
       'CRUSADE HONEY', 'DEEP CRUSADE', 'FEUD FROGMEN', 'FIDDLER LOST',
       'HAROLD FRENCH', 'PACKER MADIGAN', 'PEACH INNOCENT',
       'PEARL DESTINY', 'CHANCE RESURRECTION', 'DAUGHTER MADIGAN',
       'DREAM PICKUP', 'FATAL HAUNTED', 'FEATHERS METAL',
       'JUGGLER HARDLY', 'ROBBERS JOON', 'ROCK INSTINCT', 'TEEN APOLLO',
       'TEMPLE ATTRACTION', 'WATERSHIP FRONTIER', 'WHISPERER GIANT',
       'WRONG BEHAVIOR', 'DORADO NOTTING', 'GUNFIGHTER MUSSOLINI',
       'KANE EXORCIST', 'LOATHING LEGALLY', 'PEAK FOREVER',
       'REDEMPTION COMFORTS', 'SHIP WONDERLAND', 'SQUAD FISH',
       'VOLUME HOUSE', 'BALLROOM MOCKINGBIRD', 'NASH CHOCOLAT',
       'QUEST MUSSOLINI', 'ROCKETEER MOTHER', 'RUGRATS SHAKESPEARE',
       'ALIEN CENTER', 'BLINDNESS GUN', 'GUN BONNIE', 'HEAVEN FREEDOM',
       'INTOLERABLE INTENTIONS', 'MENAGERIE RUSHMORE',
       'TALENTED HOMICIDE', 'TRUMAN CRAZY', 'VALENTINE VANISHING',
       'WANDA CHAMBER', 'ALASKA PHANTOM', 'CARRIE BUNCH',
       'FIREBALL PHILADELPHIA', 'INTRIGUE WORST', 'METROPOLIS COMA',
       'PATHS CONTROL', 'STALLION SUNDANCE', 'STAMPEDE DISTURBING',
       'UNITED PILOT', 'WATCH TRACY', 966, 'WORKING MICROCOSMOS',
       'ANALYZE HOOSIERS', 'CLUB GRAFFITI', 'CONGENIALITY QUEST',
       'DESIRE ALIEN', 'FRISCO FORREST', 'GENTLEMEN STAGE', 'IDAHO LOVE',
       'IDOLS SNATCHERS', 'KISSING DOLLS', 'LEGEND JEDI', 'PURPLE MOVIE',
       'TARZAN VIDEOTAPE', 'BILKO ANONYMOUS', 'BINGO TALENTED',
       'COMANCHEROS ENEMY', 'DESERT POSEIDON', 'EVERYONE CRAFT',
       'EXORCIST STING'], dtype=object)

In [109]:
film.title.unique()

array(['ACADEMY DINOSAUR', 'ACE GOLDFINGER', 'ADAPTATION HOLES',
       'AFFAIR PREJUDICE', 'AFRICAN EGG', 'AGENT TRUMAN',
       'AIRPLANE SIERRA', 'AIRPORT POLLOCK', 'ALABAMA DEVIL',
       'ALADDIN CALENDAR', 'ALAMO VIDEOTAPE', 'ALASKA PHANTOM',
       'ALI FOREVER', 'ALICE FANTASIA', 'ALIEN CENTER', 'ALLEY EVOLUTION',
       'ALONE TRIP', 'ALTER VICTORY', 'AMADEUS HOLY',
       'AMELIE HELLFIGHTERS', 'AMERICAN CIRCUS', 'AMISTAD MIDSUMMER',
       'ANACONDA CONFESSIONS', 'ANALYZE HOOSIERS', 'ANGELS LIFE',
       'ANNIE IDENTITY', 'ANONYMOUS HUMAN', 'ANTHEM LUKE',
       'ANTITRUST TOMATOES', 'ANYTHING SAVANNAH', 'APACHE DIVINE',
       'APOCALYPSE FLAMINGOS', 'APOLLO TEEN', 'ARABIA DOGMA',
       'ARACHNOPHOBIA ROLLERCOASTER', 'ARGONAUTS TOWN', 'ARIZONA BANG',
       'ARK RIDGEMONT', 'ARMAGEDDON LOST', 'ARMY FLINTSTONES',
       'ARSENIC INDEPENDENCE', 'ARTIST COLDBLOODED', 'ATLANTIS CAUSE',
       'ATTACKS HATE', 'ATTRACTION NEWTON', 'AUTUMN CROW', 'BABY HALL',
       'BACKLASH UNDEFEATED', 'BADMAN DAWN', 'BAKED CLEOPATRA',
       'BALLOON HOMEWARD', 'BALLROOM MOCKINGBIRD', 'BANG KWAI',
       'BANGER PINOCCHIO', 'BARBARELLA STREETCAR', 'BAREFOOT MANCHURIAN',
       'BASIC EASY', 'BEACH HEARTBREAKERS', 'BEAR GRACELAND',
       'BEAST HUNCHBACK', 'BEAUTY GREASE', 'BED HIGHBALL',
       'BEDAZZLED MARRIED', 'BEETHOVEN EXORCIST', 'BEHAVIOR RUNAWAY',
       'BENEATH RUSH', 'BERETS AGENT', 'BETRAYED REAR', 'BEVERLY OUTLAW',
       'BIKINI BORROWERS', 'BILKO ANONYMOUS', 'BILL OTHERS',
       'BINGO TALENTED', 'BIRCH ANTITRUST', 'BIRD INDEPENDENCE',
       'BIRDCAGE CASPER', 'BIRDS PERDITION', 'BLACKOUT PRIVATE',
       'BLADE POLISH', 'BLANKET BEVERLY', 'BLINDNESS GUN',
       'BLOOD ARGONAUTS', 'BLUES INSTINCT', 'BOILED DARES',
       'BONNIE HOLOCAUST', 'BOOGIE AMELIE', 'BOONDOCK BALLROOM',
       'BORN SPINAL', 'BORROWERS BEDAZZLED', 'BOULEVARD MOB',
       'BOUND CHEAPER', 'BOWFINGER GABLES', 'BRANNIGAN SUNRISE',
       'BRAVEHEART HUMAN', 'BREAKFAST GOLDFINGER', 'BREAKING HOME',
       'BRIDE INTRIGUE', 'BRIGHT ENCOUNTERS', 'BRINGING HYSTERICAL',
       'BROOKLYN DESERT', 'BROTHERHOOD BLANKET', 'BUBBLE GROSSE',
       'BUCKET BROTHERHOOD', 'BUGSY SONG', 'BULL SHAWSHANK',
       'BULWORTH COMMANDMENTS', 'BUNCH MINDS', 'BUTCH PANTHER',
       'BUTTERFLY CHOCOLAT', 'CABIN FLASH', 'CADDYSHACK JEDI',
       'CALENDAR GUNFIGHT', 'CALIFORNIA BIRDS', 'CAMELOT VACATION',
       'CAMPUS REMEMBER', 'CANDIDATE PERDITION', 'CANDLES GRAPES',
       'CANYON STOCK', 'CAPER MOTIONS', 'CARIBBEAN LIBERTY',
       'CAROL TEXAS', 'CARRIE BUNCH', 'CASABLANCA SUPER',
       'CASPER DRAGONFLY', 'CASSIDY WYOMING', 'CASUALTIES ENCINO',
       'CAT CONEHEADS', 'CATCH AMISTAD', 'CAUSE DATE', 'CELEBRITY HORN',
       'CENTER DINOSAUR', 'CHAINSAW UPTOWN', 'CHAMBER ITALIAN',
       'CHAMPION FLATLINERS', 'CHANCE RESURRECTION', 'CHAPLIN LICENSE',
       'CHARADE DUFFEL', 'CHARIOTS CONSPIRACY', 'CHASING FIGHT',
       'CHEAPER CLYDE', 'CHICAGO NORTH', 'CHICKEN HELLFIGHTERS',
       'CHILL LUCK', 'CHINATOWN GLADIATOR', 'CHISUM BEHAVIOR',
       'CHITTY LOCK', 'CHOCOLAT HARRY', 'CHOCOLATE DUCK',
       'CHRISTMAS MOONSHINE', 'CIDER DESIRE', 'CINCINATTI WHISPERER',
       'CIRCUS YOUTH', 'CITIZEN SHREK', 'CLASH FREDDY', 'CLEOPATRA DEVIL',
       'CLERKS ANGELS', 'CLOCKWORK PARADISE', 'CLONES PINOCCHIO',
       'CLOSER BANG', 'CLUB GRAFFITI', 'CLUE GRAIL', 'CLUELESS BUCKET',
       'CLYDE THEORY', 'COAST RAINBOW', 'COLDBLOODED DARLING',
       'COLOR PHILADELPHIA', 'COMA HEAD', 'COMANCHEROS ENEMY',
       'COMFORTS RUSH', 'COMMAND DARLING', 'COMMANDMENTS EXPRESS',
       'CONEHEADS SMOOCHY', 'CONFESSIONS MAGUIRE',
       'CONFIDENTIAL INTERVIEW', 'CONFUSED CANDLES', 'CONGENIALITY QUEST',
       'CONNECTICUT TRAMP', 'CONNECTION MICROCOSMOS', 'CONQUERER NUTS',
       'CONSPIRACY SPIRIT', 'CONTACT ANONYMOUS', 'CONTROL ANTHEM',
       'CONVERSATION DOWNHILL', 'CORE SUIT', 'COWBOY DOOM',
       'CRAFT OUTFIELD', 'CRANES RESERVOIR', 'CRAZY HOME',
       'CREATURES SHAKESPEARE', 'CREEPERS KANE', 'CROOKED FROGMEN',
       'CROSSING DIVORCE', 'CROSSROADS CASUALTIES', 'CROW GREASE',
       'CROWDS TELEMARK', 'CRUELTY UNFORGIVEN', 'CRUSADE HONEY',
       'CRYSTAL BREAKING', 'CUPBOARD SINNERS', 'CURTAIN VIDEOTAPE',
       'CYCLONE FAMILY', 'DADDY PITTSBURGH', 'DAISY MENAGERIE',
       'DALMATIONS SWEDEN', 'DANCES NONE', 'DANCING FEVER',
       'DANGEROUS UPTOWN', 'DARES PLUTO', 'DARKNESS WAR', 'DARKO DORADO',
       'DARLING BREAKING', 'DARN FORRESTER', 'DATE SPEED',
       'DAUGHTER MADIGAN', 'DAWN POND', 'DAY UNFAITHFUL', 'DAZED PUNK',
       'DECEIVER BETRAYED', 'DEEP CRUSADE', 'DEER VIRGINIAN',
       'DELIVERANCE MULHOLLAND', 'DESERT POSEIDON', 'DESIRE ALIEN',
       'DESPERATE TRAINSPOTTING', 'DESTINATION JERK', 'DESTINY SATURDAY',
       'DETAILS PACKER', 'DETECTIVE VISION', 'DEVIL DESIRE',
       'DIARY PANIC', 'DINOSAUR SECRETARY', 'DIRTY ACE',
       'DISCIPLE MOTHER', 'DISTURBING SCARFACE', 'DIVIDE MONSTER',
       'DIVINE RESURRECTION', 'DIVORCE SHINING', 'DOCTOR GRAIL',
       'DOGMA FAMILY', 'DOLLS RAGE', 'DONNIE ALLEY', 'DOOM DANCING',
       'DOORS PRESIDENT', 'DORADO NOTTING', 'DOUBLE WRATH',
       'DOUBTFIRE LABYRINTH', 'DOWNHILL ENOUGH', 'DOZEN LION',
       'DRACULA CRYSTAL', 'DRAGON SQUAD', 'DRAGONFLY STRANGERS',
       'DREAM PICKUP', 'DRIFTER COMMANDMENTS', 'DRIVER ANNIE',
       'DRIVING POLISH', 'DROP WATERFRONT', 'DRUMLINE CYCLONE',
       'DRUMS DYNAMITE', 'DUCK RACER', 'DUDE BLINDNESS',
       'DUFFEL APOCALYPSE', 'DUMBO LUST', 'DURHAM PANKY', 'DWARFS ALTER',
       'DYING MAKER', 'DYNAMITE TARZAN', 'EAGLES PANKY', 'EARLY HOME',
       'EARRING INSTINCT', 'EARTH VISION', 'EASY GLADIATOR',
       'EDGE KISSING', 'EFFECT GLADIATOR', 'EGG IGBY', 'EGYPT TENENBAUMS',
       'ELEMENT FREDDY', 'ELEPHANT TROJAN', 'ELF MURDER',
       'ELIZABETH SHANE', 'EMPIRE MALKOVICH', 'ENCINO ELF',
       'ENCOUNTERS CURTAIN', 'ENDING CROWDS', 'ENEMY ODDS',
       'ENGLISH BULWORTH', 'ENOUGH RAGING', 'ENTRAPMENT SATISFACTION',
       'ESCAPE METROPOLIS', 'EVE RESURRECTION', 'EVERYONE CRAFT',
       'EVOLUTION ALTER', 'EXCITEMENT EVE', 'EXORCIST STING',
       'EXPECATIONS NATURAL', 'EXPENDABLE STALLION', 'EXPRESS LONELY',
       'EXTRAORDINARY CONQUERER', 'EYES DRIVING', 'FACTORY DRAGON',
       'FALCON VOLUME', 'FAMILY SWEET', 'FANTASIA PARK',
       'FANTASY TROOPERS', 'FARGO GANDHI', 'FATAL HAUNTED',
       'FEATHERS METAL', 'FELLOWSHIP AUTUMN', 'FERRIS MOTHER',
       'FEUD FROGMEN', 'FEVER EMPIRE', 'FICTION CHRISTMAS',
       'FIDDLER LOST', 'FIDELITY DEVIL', 'FIGHT JAWBREAKER',
       'FINDING ANACONDA', 'FIRE WOLVES', 'FIREBALL PHILADELPHIA',
       'FIREHOUSE VIETNAM', 'FISH OPUS', 'FLAMINGOS CONNECTICUT',
       'FLASH WARS', 'FLATLINERS KILLER', 'FLIGHT LIES',
       'FLINTSTONES HAPPINESS', 'FLOATS GARDEN', 'FLYING HOOK',
       'FOOL MOCKINGBIRD', 'FOREVER CANDIDATE', 'FORREST SONS',
       'FORRESTER COMANCHEROS', 'FORWARD TEMPLE', 'FRANKENSTEIN STRANGER',
       'FREAKY POCUS', 'FREDDY STORM', 'FREEDOM CLEOPATRA',
       'FRENCH HOLIDAY', 'FRIDA SLIPPER', 'FRISCO FORREST',
       'FROGMEN BREAKING', 'FRONTIER CABIN', 'FROST HEAD',
       'FUGITIVE MAGUIRE', 'FULL FLATLINERS', 'FURY MURDER',
       'GABLES METROPOLIS', 'GALAXY SWEETHEARTS', 'GAMES BOWFINGER',
       'GANDHI KWAI', 'GANGS PRIDE', 'GARDEN ISLAND', 'GASLIGHT CRUSADE',
       'GATHERING CALENDAR', 'GENTLEMEN STAGE', 'GHOST GROUNDHOG',
       'GHOSTBUSTERS ELF', 'GIANT TROOPERS', 'GILBERT PELICAN',
       'GILMORE BOILED', 'GLADIATOR WESTWARD', 'GLASS DYING',
       'GLEAMING JAWBREAKER', 'GLORY TRACY', 'GO PURPLE',
       'GODFATHER DIARY', 'GOLD RIVER', 'GOLDFINGER SENSIBILITY',
       'GOLDMINE TYCOON', 'GONE TROUBLE', 'GOODFELLAS SALUTE',
       'GORGEOUS BINGO', 'GOSFORD DONNIE', 'GRACELAND DYNAMITE',
       'GRADUATE LORD', 'GRAFFITI LOVE', 'GRAIL FRANKENSTEIN',
       'GRAPES FURY', 'GREASE YOUTH', 'GREATEST NORTH', 'GREEDY ROOTS',
       'GREEK EVERYONE', 'GRINCH MASSAGE', 'GRIT CLOCKWORK',
       'GROOVE FICTION', 'GROSSE WONDERFUL', 'GROUNDHOG UNCUT',
       'GUMP DATE', 'GUN BONNIE', 'GUNFIGHT MOON', 'GUNFIGHTER MUSSOLINI',
       'GUYS FALCON', 'HALF OUTFIELD', 'HALL CASSIDY', 'HALLOWEEN NUTS',
       'HAMLET WISDOM', 'HANDICAP BOONDOCK', 'HANGING DEEP',
       'HANKY OCTOBER', 'HANOVER GALAXY', 'HAPPINESS UNITED',
       'HARDLY ROBBERS', 'HAROLD FRENCH', 'HARPER DYING', 'HARRY IDAHO',
       'HATE HANDICAP', 'HAUNTED ANTITRUST', 'HAUNTING PIANIST',
       'HAWK CHILL', 'HEAD STRANGER', 'HEARTBREAKERS BRIGHT',
       'HEAVEN FREEDOM', 'HEAVENLY GUN', 'HEAVYWEIGHTS BEAST',
       'HEDWIG ALTER', 'HELLFIGHTERS SIERRA', 'HIGH ENCINO',
       'HIGHBALL POTTER', 'HILLS NEIGHBORS', 'HOBBIT ALIEN',
       'HOCUS FRIDA', 'HOLES BRANNIGAN', 'HOLIDAY GAMES',
       'HOLLOW JEOPARDY', 'HOLLYWOOD ANONYMOUS', 'HOLOCAUST HIGHBALL',
       'HOLY TADPOLE', 'HOME PITY', 'HOMEWARD CIDER', 'HOMICIDE PEACH',
       'HONEY TIES', 'HOOK CHARIOTS', 'HOOSIERS BIRDCAGE', 'HOPE TOOTSIE',
       'HORN WORKING', 'HORROR REIGN', 'HOTEL HAPPINESS', 'HOURS RAGE',
       'HOUSE DYNAMITE', 'HUMAN GRAFFITI', 'HUNCHBACK IMPOSSIBLE',
       'HUNGER ROOF', 'HUNTER ALTER', 'HUNTING MUSKETEERS',
       'HURRICANE AFFAIR', 'HUSTLER PARTY', 'HYDE DOCTOR',
       'HYSTERICAL GRAIL', 'ICE CROSSING', 'IDAHO LOVE', 'IDENTITY LOVER',
       'IDOLS SNATCHERS', 'IGBY MAKER', 'ILLUSION AMELIE',
       'IMAGE PRINCESS', 'IMPACT ALADDIN', 'IMPOSSIBLE PREJUDICE',
       'INCH JET', 'INDEPENDENCE HOTEL', 'INDIAN LOVE', 'INFORMER DOUBLE',
       'INNOCENT USUAL', 'INSECTS STONE', 'INSIDER ARIZONA',
       'INSTINCT AIRPORT', 'INTENTIONS EMPIRE', 'INTERVIEW LIAISONS',
       'INTOLERABLE INTENTIONS', 'INTRIGUE WORST', 'INVASION CYCLONE',
       'IRON MOON', 'ISHTAR ROCKETEER', 'ISLAND EXORCIST',
       'ITALIAN AFRICAN', 'JACKET FRISCO', 'JADE BUNCH', 'JAPANESE RUN',
       'JASON TRAP', 'JAWBREAKER BROOKLYN', 'JAWS HARRY', 'JEDI BENEATH',
       'JEEPERS WEDDING', 'JEKYLL FROGMEN', 'JEOPARDY ENCINO',
       'JERICHO MULAN', 'JERK PAYCHECK', 'JERSEY SASSY', 'JET NEIGHBORS',
       'JINGLE SAGEBRUSH', 'JOON NORTHWEST', 'JUGGLER HARDLY',
       'JUMANJI BLADE', 'JUMPING WRATH', 'JUNGLE CLOSER', 'KANE EXORCIST',
       'KARATE MOON', 'KENTUCKIAN GIANT', 'KICK SAVANNAH',
       'KILL BROTHERHOOD', 'KILLER INNOCENT', 'KING EVOLUTION',
       'KISS GLORY', 'KISSING DOLLS', 'KNOCK WARLOCK', 'KRAMER CHOCOLATE',
       'KWAI HOMEWARD', 'LABYRINTH LEAGUE', 'LADY STAGE',
       'LADYBUGS ARMAGEDDON', 'LAMBS CINCINATTI', 'LANGUAGE COWBOY',
       'LAWLESS VISION', 'LAWRENCE LOVE', 'LEAGUE HELLFIGHTERS',
       'LEATHERNECKS DWARFS', 'LEBOWSKI SOLDIERS', 'LEGALLY SECRETARY',
       'LEGEND JEDI', 'LESSON CLEOPATRA', 'LIAISONS SWEET',
       'LIBERTY MAGNIFICENT', 'LICENSE WEEKEND', 'LIES TREATMENT',
       'LIFE TWISTED', 'LIGHTS DEER', 'LION UNCUT', 'LOATHING LEGALLY',
       'LOCK REAR', 'LOLA AGENT', 'LOLITA WORLD', 'LONELY ELEPHANT',
       'LORD ARIZONA', 'LOSE INCH', 'LOSER HUSTLER', 'LOST BIRD',
       'LOUISIANA HARRY', 'LOVE SUICIDES', 'LOVELY JINGLE',
       'LOVER TRUMAN', 'LOVERBOY ATTACKS', 'LUCK OPUS', 'LUCKY FLYING',
       'LUKE MUMMY', 'LUST LOCK', 'MADIGAN DORADO', 'MADISON TRAP',
       'MADNESS ATTACKS', 'MADRE GABLES', 'MAGIC MALLRATS',
       'MAGNIFICENT CHITTY', 'MAGNOLIA FORRESTER', 'MAGUIRE APACHE',
       'MAIDEN HOME', 'MAJESTIC FLOATS', 'MAKER GABLES', 'MALKOVICH PET',
       'MALLRATS UNITED', 'MALTESE HOPE', 'MANCHURIAN CURTAIN',
       'MANNEQUIN WORST', 'MARRIED GO', 'MARS ROMAN', 'MASK PEACH',
       'MASKED BUBBLE', 'MASSACRE USUAL', 'MASSAGE IMAGE',
       'MATRIX SNOWMAN', 'MAUDE MOD', 'MEET CHOCOLATE',
       'MEMENTO ZOOLANDER', 'MENAGERIE RUSHMORE', 'MERMAID INSECTS',
       'METAL ARMAGEDDON', 'METROPOLIS COMA', 'MICROCOSMOS PARADISE',
       'MIDNIGHT WESTWARD', 'MIDSUMMER GROUNDHOG', 'MIGHTY LUCK',
       'MILE MULAN', 'MILLION ACE', 'MINDS TRUMAN', 'MINE TITANS',
       'MINORITY KISS', 'MIRACLE VIRTUAL', 'MISSION ZOOLANDER',
       'MIXED DOORS', 'MOB DUFFEL', 'MOCKINGBIRD HOLLYWOOD',
       'MOD SECRETARY', 'MODEL FISH', 'MODERN DORADO', 'MONEY HAROLD',
       'MONSOON CAUSE', 'MONSTER SPARTACUS', 'MONTEREY LABYRINTH',
       'MONTEZUMA COMMAND', 'MOON BUNCH', 'MOONSHINE CABIN',
       'MOONWALKER FOOL', 'MOSQUITO ARMAGEDDON', 'MOTHER OLEANDER',
       'MOTIONS DETAILS', 'MOULIN WAKE', 'MOURNING PURPLE',
       'MOVIE SHAKESPEARE', 'MULAN MOON', 'MULHOLLAND BEAST',
       'MUMMY CREATURES', 'MUPPET MILE', 'MURDER ANTITRUST',
       'MUSCLE BRIGHT', 'MUSIC BOONDOCK', 'MUSKETEERS WAIT',
       'MUSSOLINI SPOILERS', 'MYSTIC TRUMAN', 'NAME DETECTIVE',
       'NASH CHOCOLAT', 'NATIONAL STORY', 'NATURAL STOCK',
       'NECKLACE OUTBREAK', 'NEIGHBORS CHARADE', 'NEMO CAMPUS',
       'NETWORK PEAK', 'NEWSIES STORY', 'NEWTON LABYRINTH',
       'NIGHTMARE CHILL', 'NONE SPIKING', 'NOON PAPI', 'NORTH TEQUILA',
       'NORTHWEST POLISH', 'NOTORIOUS REUNION', 'NOTTING SPEAKEASY',
       'NOVOCAINE FLIGHT', 'NUTS TIES', 'OCTOBER SUBMARINE',
       'ODDS BOOGIE', 'OKLAHOMA JUMANJI', 'OLEANDER CLUE', 'OPEN AFRICAN',
       'OPERATION OPERATION', 'OPPOSITE NECKLACE', 'OPUS ICE',
       'ORANGE GRAPES', 'ORDER BETRAYED', 'ORIENT CLOSER', 'OSCAR GOLD',
       'OTHERS SOUP', 'OUTBREAK DIVINE', 'OUTFIELD MASSACRE',
       'OUTLAW HANKY', 'OZ LIAISONS', 'PACIFIC AMISTAD', 'PACKER MADIGAN',
       'PAJAMA JAWBREAKER', 'PANIC CLUB', 'PANKY SUBMARINE',
       'PANTHER REDS', 'PAPI NECKLACE', 'PARADISE SABRINA',
       'PARIS WEEKEND', 'PARK CITIZEN', 'PARTY KNOCK', 'PAST SUICIDES',
       'PATHS CONTROL', 'PATIENT SISTER', 'PATRIOT ROMAN',
       'PATTON INTERVIEW', 'PAYCHECK WAIT', 'PEACH INNOCENT',
       'PEAK FOREVER', 'PEARL DESTINY', 'PELICAN COMFORTS',
       'PERDITION FARGO', 'PERFECT GROOVE', 'PERSONAL LADYBUGS',
       'PET HAUNTING', 'PHANTOM GLORY', 'PHILADELPHIA WIFE',
       'PIANIST OUTFIELD', 'PICKUP DRIVING', 'PILOT HOOSIERS',
       'PINOCCHIO SIMON', 'PIRATES ROXANNE', 'PITTSBURGH HUNCHBACK',
       'PITY BOUND', 'PIZZA JUMANJI', 'PLATOON INSTINCT',
       'PLUTO OLEANDER', 'POCUS PULP', 'POLISH BROOKLYN',
       'POLLOCK DELIVERANCE', 'POND SEATTLE', 'POSEIDON FOREVER',
       'POTLUCK MIXED', 'POTTER CONNECTICUT', 'PREJUDICE OLEANDER',
       'PRESIDENT BANG', 'PRIDE ALAMO', 'PRIMARY GLASS', 'PRINCESS GIANT',
       'PRIVATE DROP', 'PRIX UNDEFEATED', 'PSYCHO SHRUNK', 'PULP BEVERLY',
       'PUNK DIVORCE', 'PURE RUNNER', 'PURPLE MOVIE', 'QUEEN LUKE',
       'QUEST MUSSOLINI', 'QUILLS BULL', 'RACER EGG', 'RAGE GAMES',
       'RAGING AIRPLANE', 'RAIDERS ANTITRUST', 'RAINBOW SHOCK',
       'RANDOM GO', 'RANGE MOONWALKER', 'REAP UNFAITHFUL', 'REAR TRADING',
       'REBEL AIRPORT', 'RECORDS ZORRO', 'REDEMPTION COMFORTS',
       'REDS POCUS', 'REEF SALUTE', 'REIGN GENTLEMEN', 'REMEMBER DIARY',
       'REQUIEM TYCOON', 'RESERVOIR ADAPTATION', 'RESURRECTION SILVERADO',
       'REUNION WITCHES', 'RIDER CADDYSHACK', 'RIDGEMONT SUBMARINE',
       'RIGHT CRANES', 'RINGS HEARTBREAKERS', 'RIVER OUTLAW',
       'ROAD ROXANNE', 'ROBBERS JOON', 'ROBBERY BRIGHT', 'ROCK INSTINCT',
       'ROCKETEER MOTHER', 'ROCKY WAR', 'ROLLERCOASTER BRINGING',
       'ROMAN PUNK', 'ROOF CHAMPION', 'ROOM ROMAN', 'ROOTS REMEMBER',
       'ROSES TREASURE', 'ROUGE SQUAD', 'ROXANNE REBEL',
       'RUGRATS SHAKESPEARE', 'RULES HUMAN', 'RUN PACIFIC',
       'RUNAWAY TENENBAUMS', 'RUNNER MADIGAN', 'RUSH GOODFELLAS',
       'RUSHMORE MERMAID', 'SABRINA MIDNIGHT', 'SADDLE ANTITRUST',
       'SAGEBRUSH CLUELESS', 'SAINTS BRIDE', 'SALUTE APOLLO',
       'SAMURAI LION', 'SANTA PARIS', 'SASSY PACKER',
       'SATISFACTION CONFIDENTIAL', 'SATURDAY LAMBS', 'SATURN NAME',
       'SAVANNAH TOWN', 'SCALAWAG DUCK', 'SCARFACE BANG', 'SCHOOL JACKET',
       'SCISSORHANDS SLUMS', 'SCORPION APOLLO', 'SEA VIRGIN',
       'SEABISCUIT PUNK', 'SEARCHERS WAIT', 'SEATTLE EXPECATIONS',
       'SECRET GROUNDHOG', 'SECRETARY ROUGE', 'SECRETS PARADISE',
       'SENSE GREEK', 'SENSIBILITY REAR', 'SEVEN SWARM',
       'SHAKESPEARE SADDLE', 'SHANE DARKNESS', 'SHANGHAI TYCOON',
       'SHAWSHANK BUBBLE', 'SHEPHERD MIDSUMMER', 'SHINING ROSES',
       'SHIP WONDERLAND', 'SHOCK CABIN', 'SHOOTIST SUPERFLY', 'SHOW LORD',
       'SHREK LICENSE', 'SHRUNK DIVINE', 'SIDE ARK', 'SIEGE MADRE',
       'SIERRA DIVIDE', 'SILENCE KANE', 'SILVERADO GOLDFINGER',
       'SIMON NORTH', 'SINNERS ATLANTIS', 'SISTER FREDDY', 'SKY MIRACLE',
       'SLACKER LIAISONS', 'SLEEPING SUSPECTS', 'SLEEPLESS MONSOON',
       'SLEEPY JAPANESE', 'SLEUTH ORIENT', 'SLING LUKE',
       'SLIPPER FIDELITY', 'SLUMS DUCK', 'SMILE EARRING',
       'SMOKING BARBARELLA', 'SMOOCHY CONTROL', 'SNATCH SLIPPER',
       'SNATCHERS MONTEZUMA', 'SNOWMAN ROLLERCOASTER',
       'SOLDIERS EVOLUTION', 'SOMETHING DUCK', 'SONG HEDWIG',
       'SONS INTERVIEW', 'SORORITY QUEEN', 'SOUP WISDOM', 'SOUTH WAIT',
       'SPARTACUS CHEAPER', 'SPEAKEASY DATE', 'SPEED SUIT',
       'SPICE SORORITY', 'SPIKING ELEMENT', 'SPINAL ROCKY',
       'SPIRIT FLINTSTONES', 'SPIRITED CASUALTIES', 'SPLASH GUMP',
       'SPLENDOR PATTON', 'SPOILERS HELLFIGHTERS', 'SPY MILE',
       'SQUAD FISH', 'STAGE WORLD', 'STAGECOACH ARMAGEDDON',
       'STALLION SUNDANCE', 'STAMPEDE DISTURBING', 'STAR OPERATION',
       'STATE WASTELAND', 'STEEL SANTA', 'STEERS ARMAGEDDON',
       'STEPMOM DREAM', 'STING PERSONAL', 'STOCK GLASS', 'STONE FIRE',
       'STORM HAPPINESS', 'STORY SIDE', 'STRAIGHT HOURS',
       'STRANGELOVE DESIRE', 'STRANGER STRANGERS', 'STRANGERS GRAFFITI',
       'STREAK RIDGEMONT', 'STREETCAR INTENTIONS', 'STRICTLY SCARFACE',
       'SUBMARINE BED', 'SUGAR WONKA', 'SUICIDES SILENCE', 'SUIT WALLS',
       'SUMMER SCARFACE', 'SUN CONFESSIONS', 'SUNDANCE INVASION',
       'SUNRISE LEAGUE', 'SUNSET RACER', 'SUPER WYOMING', 'SUPERFLY TRIP',
       'SUSPECTS QUILLS', 'SWARM GOLD', 'SWEDEN SHINING',
       'SWEET BROTHERHOOD', 'SWEETHEARTS SUSPECTS', 'TADPOLE PARK',
       'TALENTED HOMICIDE', 'TARZAN VIDEOTAPE', 'TAXI KICK',
       'TEEN APOLLO', 'TELEGRAPH VOYAGE', 'TELEMARK HEARTBREAKERS',
       'TEMPLE ATTRACTION', 'TENENBAUMS COMMAND', 'TEQUILA PAST',
       'TERMINATOR CLUB', 'TEXAS WATCH', 'THEORY MERMAID',
       'THIEF PELICAN', 'THIN SAGEBRUSH', 'TIES HUNGER', 'TIGHTS DAWN',
       'TIMBERLAND SKY', 'TITANIC BOONDOCK', 'TITANS JERK',
       'TOMATOES HELLFIGHTERS', 'TOMORROW HUSTLER', 'TOOTSIE PILOT',
       'TORQUE BOUND', 'TOURIST PELICAN', 'TOWERS HURRICANE', 'TOWN ARK',
       'TRACY CIDER', 'TRADING PINOCCHIO', 'TRAFFIC HOBBIT',
       'TRAIN BUNCH', 'TRAINSPOTTING STRANGERS', 'TRAMP OTHERS',
       'TRANSLATION SUMMER', 'TRAP GUYS', 'TREASURE COMMAND',
       'TREATMENT JEKYLL', 'TRIP NEWTON', 'TROJAN TOMORROW',
       'TROOPERS METAL', 'TROUBLE DATE', 'TRUMAN CRAZY', 'TURN STAR',
       'TUXEDO MILE', 'TWISTED PIRATES', 'TYCOON GATHERING',
       'UNBREAKABLE KARATE', 'UNCUT SUICIDES', 'UNDEFEATED DALMATIONS',
       'UNFAITHFUL KILL', 'UNFORGIVEN ZOOLANDER', 'UNITED PILOT',
       'UNTOUCHABLES SUNRISE', 'UPRISING UPTOWN', 'UPTOWN YOUNG',
       'USUAL UNTOUCHABLES', 'VACATION BOONDOCK', 'VALENTINE VANISHING',
       'VALLEY PACKER', 'VAMPIRE WHALE', 'VANILLA DAY', 'VANISHED GARDEN',
       'VANISHING ROCKY', 'VARSITY TRIP', 'VELVET TERMINATOR',
       'VERTIGO NORTHWEST', 'VICTORY ACADEMY', 'VIDEOTAPE ARSENIC',
       'VIETNAM SMOOCHY', 'VILLAIN DESPERATE', 'VIRGIN DAISY',
       'VIRGINIAN PLUTO', 'VIRTUAL SPOILERS', 'VISION TORQUE',
       'VOICE PEACH', 'VOLCANO TEXAS', 'VOLUME HOUSE', 'VOYAGE LEGALLY',
       'WAGON JAWS', 'WAIT CIDER', 'WAKE JAWS', 'WALLS ARTIST',
       'WANDA CHAMBER', 'WAR NOTTING', 'WARDROBE PHANTOM',
       'WARLOCK WEREWOLF', 'WARS PLUTO', 'WASH HEAVENLY',
       'WASTELAND DIVINE', 'WATCH TRACY', 'WATERFRONT DELIVERANCE',
       'WATERSHIP FRONTIER', 'WEDDING APOLLO', 'WEEKEND PERSONAL',
       'WEREWOLF LOLA', 'WEST LION', 'WESTWARD SEABISCUIT',
       'WHALE BIKINI', 'WHISPERER GIANT', 'WIFE TURN', 'WILD APOLLO',
       'WILLOW TRACY', 'WIND PHANTOM', 'WINDOW SIDE', 'WISDOM WORKER',

In [110]:
hdd.title == film.title

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211    False
212    False
213    False
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
369    False
370    False
371    False
372    False
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381    False
382    False
383    False
384    False
385    False
386    False
387    False
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
400    False
401    False
402    False
403    False
404    False
405    False
406    False
407    False
408    False
409    False
410    False
411    False
412    False
413    False
414    False
415    False
416    False
417    False
418    False
419    False
420    False
421    False
422    False
423    False
424    False
425    False
426    False
427    False
428    False
429    False
430    False
431    False
432    False
433    False
434    False
435    False
436    False
437    False
438    False
439    False
440    False
441    False
442    False
443    False
444    False
445    False
446    False
447    False
448    False
449    False
450    False
451    False
452    False
453    False
454    False
455    False
456    False
457    False
458    False
459    False
460    False
461    False
462    False
463    False
464    False
465    False
466    False
467    False
468    False
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476    False
477    False
478    False
479    False
480    False
481    False
482    False
483    False
484    False
485    False
486    False
487    False
488    False
489    False
490    False
491    False
492    False
493    False
494    False
495    False
496    False
497    False
498    False
499    False
500    False
501    False
502    False
503    False
504    False
505    False
506    False
507    False
508    False
509    False
510    False
511    False
512    False
513    False
514    False
515    False
516    False
517    False
518    False
519    False
520    False
521    False
522    False
523    False
524    False
525    False
526    False
527    False
528    False
529    False
530    False
531    False
532    False
533    False
534    False
535    False
536    False
537    False
538    False
539    False
540    False
541    False
542    False
543    False
544    False
545    False
546    False
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
577    False
578    False
579    False
580    False
581    False
582    False
583    False
584    False
585    False
586    False
587    False
588    False
589    False
590    False
591    False
592    False
593    False
594    False
595    False
596    False
597    False
598    False
599    False
600    False
601    False
602    False
603    False
604    False
605    False
606    False
607    False
608    False
609    False
610    False
611    False
612    False
613    False
614    False
615    False
616    False
617    False
618    False
619    False
620    False
621    False
622    False
623    False
624    False
625    False
626    False
627    False
628    False
629    False
630    False
631    False
632    False
633    False
634    False
635    False
636    False
637    False
638    False
639    False
640    False
641    False
642    False
643    False
644    False
645    False
646    False
647    False
648    False
649    False
650    False
651    False
652    False
653    False
654    False
655    False
656    False
657    False
658    False
659    False
660    False
661    False
662    False
663    False
664    False
665    False
666    False
667    False
668    False
669    False
670    False
671    False
672    False
673    False
674    False
675    False
676    False
677    False
678    False
679    False
680    False
681    False
682    False
683    False
684    False
685    False
686    False
687    False
688    False
689    False
690    False
691    False
692    False
693    False
694    False
695    False
696    False
697    False
698    False
699    False
700    False
701    False
702    False
703    False
704    False
705    False
706    False
707    False
708    False
709    False
710    False
711    False
712    False
713    False
714    False
715    False
716    False
717    False
718    False
719    False
720    False
721    False
722    False
723    False
724    False
725    False
726    False
727    False
728    False
729    False
730    False
731    False
732    False
733    False
734    False
735    False
736    False
737    False
738    False
739    False
740    False
741    False
742    False
743    False
744    False
745    False
746    False
747    False
748    False
749    False
750    False
751    False
752    False
753    False
754    False
755    False
756    False
757    False
758    False
759    False
760    False
761    False
762    False
763    False
764    False
765    False
766    False
767    False
768    False
769    False
770    False
771    False
772    False
773    False
774    False
775    False
776    False
777    False
778    False
779    False
780    False
781    False
782    False
783    False
784    False
785    False
786    False
787    False
788    False
789    False
790    False
791    False
792    False
793    False
794    False
795    False
796    False
797    False
798    False
799    False
800    False
801    False
802    False
803    False
804    False
805    False
806    False
807    False
808    False
809    False
810    False
811    False
812    False
813    False
814    False
815    False
816    False
817    False
818    False
819    False
820    False
821    False
822    False
823    False
824    False
825    False
826    False
827    False
828    False
829    False
830    False
831    False
832    False
833    False
834    False
835    False
836    False
837    False
838    False
839    False
840    False
841    False
842    False
843    False
844    False
845    False
846    False
847    False
848    False
849    False
850    False
851    False
852    False
853    False
854    False
855    False
856    False
857    False
858    False
859    False
860    False
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
891    False
892    False
893    False
894    False
895    False
896    False
897    False
898    False
899    False
900    False
901    False
902    False
903    False
904    False
905    False
906    False
907    False
908    False
909    False
910    False
911    False
912    False
913    False
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923    False
924    False
925    False
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
943    False
944    False
945    False
946    False
947    False
948    False
949    False
950    False
951    False
952    False
953    False
954    False
955    False
956    False
957    False
958    False
959    False
960    False
961    False
962    False
963    False
964    False
965    False
966    False
967    False
968    False
969    False
970    False
971    False
972    False
973    False
974    False
975    False
976    False
977    False
978    False
979    False
980    False
981    False
982    False
983    False
984    False
985    False
986    False
987    False
988    False
989    False
990    False
991    False
992    False
993    False
994    False
995    False
996    False
997    False
998    False
999    False
Name: title, dtype: bool

In [113]:
hdd.first_name == actor.first_name

ValueError: Can only compare identically-labeled Series objects